@import "variables";

//fonts
@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura_pt_medium.woff2') format('woff2'),
  url('/fonts/futura_pt_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@600&display=swap');

//colors
.green {
  color: $green;
}

.red {
  color: $red;
}

.gray {
  color: $gray;
}

.black80 {
  color: $black80;
}

.black40 {
  color: $black40;
}

.fw400 {
  font-weight: 400;
}

//reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #e8e8e8;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  height: 100vh;
  margin-top: 100px;
  padding: 0 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

img, svg {
  height: auto;
}